@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

/*  SECTION -----------------------------------------------  NAV BAR  ----------------------------------------------- SECTION*/

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    opacity: 100%;
    top: 0;
    width: 100%;
    z-index: 999
    
}



.navigation--mobile {
    display: none;
}

navigation--desktop {
    display: block;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 200px;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    z-index: 999;
    position: relative;
    height: 100px;
    margin: 0 auto;
}

.nav-container button{
    width: 130px;
    height: 55px;
    border-style: none;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Bebas Neue', cursive;
    background-color: #c3c3c3;
    transition: background-color 100ms ease-in-out;
    letter-spacing: 0.1em;
    margin: 10px;
}

.nav-container button:hover {
    background-color: #2c2c2c;
    color: #fff;
}

.nav-container i {
    font-size: 45px;
    margin: 5px;
}
  
.left-nav {
    display: flex;
    align-items: center;
    grid-column: 1; 

}
  
.right-nav {
    grid-column: 2; 
    width: 400px;
    text-align: center;

}

.nav-container button, 
.nav-container i {
    cursor: pointer;
}

.facebook {
    color: #000;
    transition: color 100ms ease-in-out;
}

.facebook:hover {
    color: #0008ff;
}

.instagram {
    color: #000;
    transition: color 100ms ease-in-out;
}

.instagram:hover {
    background-color: #fff;
    color: #f02644; /* Gradient */
}


.youtube {
    color: #000;
    transition: color 100ms ease-in-out;
}

.youtube:hover {
    color: #ff0000;
}

.soundcloud {
    color: #000;
    transition: color 100ms ease-in-out;
}

.soundcloud:hover {
    background-color: #fff;
    color: #ff6600; /* Gradient */
}


/*  SECTION -----------------------------------------------  BODY ----------------------------------------------- SECTION*/

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    position: relative;
}

.background {
    position: fixed;
    opacity: 30%;
    z-index: -999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    top: -370px;
    background-repeat: no-repeat;
}


#background {
    position: fixed;
    width: 100%;
    height: 200%;
}


/* -----------------------BANNER--------------------------- */

.banner {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #e2e2e2d0;
    top: 150px;
    display: flex;
}

.banner .banner-img {
    width: 400px;
    height: 400px;
    position: absolute;
    padding: 25px;
    left: 250px;
}

.name {
    position: absolute;
    width: 500px;
    margin-left: 270px;
    font-size: 60px;
    letter-spacing: 0.02em;
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-decoration: underline;
    left: 460px;
    /* text-transform: uppercase; */

}

.description {
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    position: absolute;
    top: 70px;
    width: 300px;
    left: 730px;
    font-weight: 100;
    color: #b00000;
}

.quote {
    position: absolute;
    font-family: 'Tangerine', serif;
    font-size: 50px;
    font-style: italic;
    left: 730px;
    top: 175px;
}

/* ------------------ END OF BANNER ------------------- */

/* .about-more p {
    display: none;

} */
/* 
.about-more {
    display: none;
} */



.about-more {
    width: 100%;
    height: 625px;
    background-color: rgba(199, 154, 95, 0.87);
    position: relative;
    top: 200px;
    display: grid;

    align-items: center;
    justify-content: center;
}

.about-more p {
    font-family: 'Tangerine', cursive;
    font-size: 28px;
    text-align: center;
    width: 800px;
    position: relative;
    top: -50px;
}

.about-more button{
    width: 130px;
    height: 55px;
    border-style: none;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Bebas Neue', cursive;
    background-color: #2c2c2c;
    color: #fff;
    transition: background-color 100ms ease-in-out;
    letter-spacing: 0.1em;
    position: relative;
    cursor: pointer;
}

.button-div {
    text-align: center;
    position: relative;
    top: -55px;
}

.about-more button:hover {
    background-color: #dadada;
    color: #000;
}

.about-title {
    font-family: 'Tangerine', cursive;
    text-align: center;
    width: 800px;
    position: relative;
    font-size: 35px !important;
    font-weight: 800;
    top: -10px;
}








.about {
    width: 100%;
    height: 625px;
    background-color: rgba(173, 121, 54, 0.87);
    position: relative;
    top: 200px;
    display: grid;

    align-items: center;
    justify-content: center;
}

.about p {
    font-family: 'Tangerine', cursive;
    font-size: 28px;
    text-align: center;
    width: 800px;
    position: relative;
    top: -50px;
}

.about button{
    width: 130px;
    height: 55px;
    border-style: none;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Bebas Neue', cursive;
    background-color: #2c2c2c;
    color: #fff;
    transition: background-color 100ms ease-in-out;
    letter-spacing: 0.1em;
    position: relative;
    cursor: pointer;
}

.button-div {
    text-align: center;
    position: relative;
    top: -55px;
}

.about button:hover {
    background-color: #dadada;
    color: #000;
}

.about-title {
    font-family: 'Tangerine', cursive;
    text-align: center;
    width: 800px;
    position: relative;
    font-size: 35px !important;
    font-weight: 800;
    top: -10px;
}


/* --------------------- PICS -------------------- */

.more-pictures {
    width: 100%;
    height: 230px;
    position: absolute !important;
    top: 110%;
    background-color: #ffffffd2;
    overflow-x: hidden;
    
}

.left-1, .middle-1, .right-1{
    width: 200px;
    height: 200px;
    top: 9%;
    position: relative !important;
    border-radius: 50%;
}

.ex-a {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    align-items: center !important;
    justify-content: center !important;
    grid-gap: 40%;
    left: 30.5%;
    transition: left 1s ease-in-out;
}


.left-2, .middle-2, .right-2{
    width: 200px;
    height: 200px;
    top: 9%;
    position: relative !important;
    border-radius: 50%;
}

.ex-b {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    align-items: center !important;
    justify-content: center !important;
    grid-gap: 40%;
    left: 130.5%;
    transition: left 1.5s ease-in-out;
}


/* kjeflkmlkefmlksnf */

.left-arrow-div, .right-arrow-div {
    height: 230px;
    width: 70px;
    background-color: #000;
    color: rgba(210, 124, 12, 0.87);
    font-size: 85px;
    transition: 150ms ease-in-out;
    z-index: 99999999;
}

.left-arrow-div i,
.right-arrow-div i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 35%;
}

.arrow-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 91%;
}

.left-arrow-div:hover,
.right-arrow-div:hover {
    color: rgba(199, 154, 95, 0.87);
    text-shadow: 1px -1px rgba(212, 168, 109, 0.715);
    filter: brightness(200%) contrast(150%);
    cursor: pointer;
}

.pic {
    transition: 0.5s ease-in-out;
}

/* .footer {
    display: flex;
    align-items: center;
    width: 150%;
    left: -42%;
    
    justify-content: space-evenly;
    position: relative;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: #000; 
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 14px;
    bottom: -500%;
} */


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 1em;
    background-color: #000;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 12px;
    bottom: -70%;
    width: 98.4%;
    }

#footer, #cp-symbol, #sh, #all {
    margin-left: 10px;
    margin-right: 10px;
}
